name: Build on Commit

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Toolchain (nightly)
      uses: dtolnay/rust-toolchain@nightly

    - name: Rust Cache
      uses: swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release

    - name: Bundle to Artifact
      uses: actions/upload-artifact@v4
      with:
        name: rsrpc
        path: target/release/rsrpc